div.titulo {
background-color: rgba(255, 255, 0, 0.63);
text-align: center;
font-weight: bold;
font-size: 40px;
}

div.indice {
    background-color: yellowgreen;
    text-align: center;
}

div.titulo_texto{
    font-weight: bold;
    background-color: orange;
}

div.texto{
    background-color: orange;
}

div.links{
display: inline;

}

div.info_uno{
background-color: blue;
text-align: center;
}

span.info_dos{
background-color: yellow;
}